//Fonts
$font-circe: Circe, Arial, sans-serif;

//Colors
$black: #000000;
$white: #ffffff;
$blue: #4174d7;
$light-blue: #2ca0d7;
$grey: #eff1f5;
$light-grey: #e1e4e9;
$pink: #c25fbd;

//Transitions
$transition-norm: 0.3s;