
body {
    font: 14px/1.55 "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

.content {
    //padding: 0 75px;
    margin: 0 auto;
    max-width: 1094px;
    min-width: 320px;
}

button {
    cursor: pointer;
}

.slide-fade-enter-active, .slide-fade-leave-active {
    transition:
            opacity $transition-norm,
            max-height 0.5s,
            padding 0.5s,
            margin 0.5s;
}

.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0 !important;
    max-height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden !important;
}

[v-cloak] {
    display: none;
}